/* #subsection {
    background-color: yellow;
    color: blue;
}

.main #subsection {
    color: red;
} */

:root {
    color: beige;
    background-color: #18181e;
}

input:focus {
    background-color: aqua;
}

input:invalid {
    background-color: red;
}

.list {
    color: red;
}

.main {
    color: blue;
}