.roboto-something {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-bg-color: #1f2937;
    --hero-main-size: 48px;
    --hero-main-color: #f9faf8;
    --hero-main-weight: 900;

    --hero-secondary-color: #e5e7eb;
    --hero-secondary-size: 18px;

    --hero-logo-size: 24px;
    --hero-logo-color: #f9faf8;

    --button-color: #3882f6;
    --action-color: var(--button-color);

    --info-header-size: 36px;
    --info-header-color: #1f2937;
    --info-header-weight: 900;

    --quote-bg-color: #e5e7eb;
    --quote-text-size: 36px;
    --quote-text-color: #1f2937;
    --quote-text-weight: 300;
}

body {
    color: var(--hero-main-color);
    background-color: var(--dark-bg-color);
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

header,
.awesome-container,
.info-container,
.quote-container,
.signup-container,
.footer {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10%;
}

.hero-logo {
    color: var(--hero-logo-color);
    font-size: var(--hero-logo-size);
    font-weight: var(--hero-main-weight);
}

.header-links a {
    color: var(--hero-secondary-color);
    font-size: var(--hero-secondary-size);
    padding: 0 8px;
}

a {
    text-decoration: none;
}

.awesome-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 10%;
}

.left-awesome {
    flex: 1;
    /* max-width: 300px; */
}

.left-awesome * {
    margin: 0 6% 0 0;
}

.hero-main {
    font-size: var(--hero-main-size);
    font-weight: var(--hero-main-weight);
    color: var(--hero-main-color);
}

.hero-secondary {
    font-size: var(--hero-secondary-size);
    color: var(--hero-secondary-size);
    margin-bottom: 8px;
}

.awesome-container button {
    color: white;
    background-color: var(--button-color);
    font-size: var(--hero-secondary-size);
    border-radius: 4px;
}

.awesome-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    border-radius: 4px;
    margin-left: 6%;
}

.info-container {
    color: var(--info-header-color);
    background-color: white;
    padding: 20px;
}

.info-header {
    color: var(--info-header-color);
    background-color: white;
    font-size: var(--info-header-size);
    font-weight: var(--info-header-weight);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20%;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin-bottom: 16px;
}

.cardbox {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    outline: 4px solid var(--action-color);
    margin-bottom: 8px;
}

.cardtext {
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
}

.quote-container {
    background-color: var(--quote-bg-color);
    color: var(--quote-text-color);
}

.quote-text {
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    font-style: italic;
    padding: 48px 20% 0 20%;
}

.quote-author {
    font-size: var(--hero-secondary-size);
    font-weight: 900;
    padding: 0 20% 48px;
    text-align: right;
}

.signup-container {
    background-color: white;
    display: flex;

}

.signup-box {
    width: 70%;
    height: 80px;
    margin: 6% 15%;
    background-color: var(--action-color);
    color: white;
    border-radius: 8px;

}

.signup-box button {
    color: white;
    background-color: var(--button-color);
    font-size: var(--hero-secondary-size);
    border-radius: 4px;
    outline: 2px solid white;
}

.signup-call {
    font-size: --
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

/* DEBUG */
* {
    outline: 1px solid red;
}